nav > ul > li {
  display: inline;
  margin-right: 15px;
}

nav li > a {
  text-decoration: none;
  text-align: center;
}

nav {
  text-align: right;
}

footer {
  margin-top: 30px;
  text-align: center;
}

figure > img {
  height: 500px;
}
figcaption {
  text-align: center;
}
label {
  display: block;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  padding: 5px 10px;
}
