nav > ul > li {
    display: inline;
    margin-right: 15px;
    
}

nav li > a{
    text-decoration: none;
    text-align: center;
}

nav {
    text-align: right;
}

footer {
    margin-top:30px;
    text-align: center;
}

figure > img {
    height: 500px;
}
figcaption {
    text-align: center;
}